.container{

background-color: #f8fafc;
}

.header{
    text-align: center;
    color: #565151;
   ;

}
.header-highlight{

 color: #c11396

}


.app-container{
text-align: center;
z-index: 10;



}
.min-h-screen{
    min-height: 150vh;
}

.w-full{
    width: 100%;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}   

.inset-0{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.z-0{
    z-index: 0;
}

.emoji-container{
    background-color:white;
    width:fit-content;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px auto;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.emoji-picker{

     width: fit-content;
    border: 1px solid #595959;
    border-radius: 10px;
    padding: 10px 5px ;
    background-color: #e6e6e6;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    height: 200px;
    flex-wrap: wrap;
}

.color-picker{
       width: fit-content;
    border: 1px solid #595959;
    border-radius: 10px;
    padding: 10px  5px;
    margin-left: 1430px;
    margin-top: 50px;
    background-color: #e6e6e6;
    top: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 200px;
    flex-wrap: wrap;
}


.slider-container {
    display: flex;
    justify-content: center;
}